body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

.container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(grey.jpeg);
    background-size: cover;
    
}
#drake{
    color:green;
}
h2{
    color: white;
}
#song-list{
    color:black;
}

.spotify-player {
    margin: 20px 0;
}


a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}